<header class="text-center p-3 bg-dark text-white">
  <img src="/images/logo.png" class="rounded-circle" width="80" alt="Logo">
  <h1>{{appName}}</h1>
  <nav>
    <a href="/" class="btn btn-outline-light m-1">Home</a>
    <a href="/about" class="btn btn-outline-light m-1">About</a>
    <a href="/skills" class="btn btn-outline-light m-1">Skills</a>
    <a href="/projects" class="btn btn-outline-light m-1">Projects</a>
    <a href="/contact" class="btn btn-outline-light m-1">Contact</a>
  </nav>
</header>

