{{!-- views/about.handlebars --}}
<h1>About Me</h1>
<p>Hello! I'm Jinglin Zhou. I'm passionate about software engineering, web development, and bringing ideas to life through code.</p>
<p>This site is a portfolio of my work, skills, and interests.</p>

